<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="share">
	<!-- 게시판 리스트 -->
	<select id="getList" resultType="com.global.vo.ShareVO">
		<![CDATA[
			select * from share_table order by share_idx desc
		]]>
	</select>
	
	<!-- 글쓰기 -->
	<insert id="write" parameterType="com.global.vo.ShareVO">
	<![CDATA[
		
		insert into share_table(share_idx, share_title, share_content, 
		share_img, share_writer, share_regdate)	
		values (share_seq.nextval, #{share_title}, #{share_content}, #{share_img, jdbcType=VARCHAR}, 
		#{share_writer}, sysdate)
		
		
	]]>
	</insert>
	
	<!-- 글읽기 -->
	<select id="getContentInfo" parameterType="java.lang.Integer" resultType="com.global.vo.ShareVO">
		<![CDATA[
			select share_writer,
			to_char(share_regdate, 'YYYY-MM-DD') as share_regdate,
			share_title, share_content, share_img
			from share_table
			where share_idx = #{share_idx}
		]]>
	</select>
</mapper>