<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="share">
	<!-- 게시판 리스트 -->
	<select id="getList" resultType="com.global.vo.ShareVO">
		<![CDATA[
			select * from share_table order by share_idx desc
		]]>
	</select>
	
	<!-- 글쓰기 -->
	<insert id="write" parameterType="com.global.vo.ShareVO">
	<![CDATA[
		
		insert into share_table(share_idx, share_title, share_content, 
		share_img, share_writer, share_regdate)	
		values (share_seq.nextval, #{share_title}, #{share_content}, #{share_img, jdbcType=VARCHAR}, 
		#{share_writer}, sysdate)
		
		
	]]>
	</insert>
	
	<!-- 글읽기 -->
	<select id="getContentInfo" parameterType="java.lang.Integer" resultType="com.global.vo.ShareVO">
		<![CDATA[
			select share_writer,
			to_char(share_regdate, 'YYYY-MM-DD') as share_regdate,
			share_title, share_content, share_img
			from share_table
			where share_idx = #{share_idx}
		]]>
	</select>
	<!-- 글 삭제 -->
	<delete id="shareWriteDelete" parameterType="java.lang.Integer" >
		<![CDATA[
		delete from share_table where share_idx = #{share_idx}
		]]>
	</delete>
	<!-- 글 수정 -->
	<update id="shareModifyInfo" parameterType="com.global.vo.ShareVO">
		<![CDATA[
			update share_table
				set share_title = #{share_title}, share_content = #{share_content},
				share_img = #{share_img, jdbcType=VARCHAR}
				where share_idx = #{share_idx}
		]]>
	</update>
	
	<!-- 페이징 -->
	<select id="shareWriteCnt" resultType="java.lang.Integer" >
			<![CDATA[
				select count(*) from share_table
			]]>
	</select>
</mapper>