.layout{
    max-width: 600px;
    margin: 0 auto;
}

.qna{
    list-style: none;
    margin: 0;
    margin-top:150px;
    padding: 0;
}
.qna > li{
  padding: 10px 0;
  box-sizing: border-box;
}
.qna > li:nth-child(n+2){ /* �符�擽��� �ｵｬ�ｶ� ��川│ */
  border-top: 1px dashed #aaa;
}
.qna input {
  display: none;
}
.qna label { /* ��罹ｪｩ - ��ｴ�ｦｭ ���溜 */
  font-weight: bold;
  color: #000;
  margin: 20px 0 0;
  cursor: pointer;
}
.qna label::before { /* ��罹ｪｩ �服 �剩�ざ�像 */
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #a00;
  margin: 2px 0 0 8px;
  float: left;
}
.qna input:checked + label::before { /* �ざ�圸 �湿�ｹｨ �メ��� ��罹ｪｩ �服 �剩�ざ�像 */
  border: 8px solid transparent;
  border-top: 8px solid #a00;
  border-bottom: 0;
  margin: 8px 4px 0;
}

.qna div { /* �ざ�圸 ���溜 - �ｸｰ�ｳｸ �ｰ川ｶ､ �メ��� */
  display: none;
  color: #666;
  font-size: 0.9375em;
  overflow: hidden;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  transition: max-height 0.4s;
}
.qna input:checked + label + div { /* �ざ�圸 ���溜 �湿�ｹｨ */
  display: block;
}